<div class="flex justify-between">
  <h2 class="text-xl font-medium text-gray-700">Liste des références</h2>
  <%= link_to "Ajouter une référence", new_admin_reference_path, class: "block w-fit rounded-md bg-indigo-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
</div>
<% @references.each do |reference| %>
  <%= link_to admin_reference_path(reference) do %>
    <%= cl_image_tag reference.logo.key %>
  <% end %>
<% end %>
