<nav data-controller="navbar" data-navbar-target="navbar" data-loading-target="navbar" class="fixed w-full backdrop-blur border-b-2 border-solid border-gray-900 z-10">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="flex flex-1 items-center justify-between">
        <div class="flex flex-shrink-0 items-center">
          <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <button data-action="click->navbar#changeColors" data-navbar-target="button" data-color="white" class="bg-gray-900 border-2 border-solid border-white text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page">Agence</button>
            <button data-action="click->navbar#changeColors" data-navbar-target="button" data-color="black" class="bg-gray-900 border-2 border-solid border-gray-900 text-gray-300 hover:bg-gray-700 hover:border-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Talents</button>
            <button data-action="click->navbar#changeColors" data-navbar-target="button" data-color="white" class="bg-gray-900 border-2 border-solid border-gray-900 text-gray-300 hover:bg-gray-700 hover:border-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Références</button>
            <button data-action="click->navbar#changeColors" data-navbar-target="button" data-color="black" class="bg-gray-900 border-2 border-solid border-gray-900 text-gray-300 hover:bg-gray-700 hover:border-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Contact</button>
          </div>
        </div>
        <div class="flex">
          <%# Insert link here %>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pb-3 pt-2">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <a href="#" class="text-sky-800 bg-gray-900 block rounded-md px-3 py-2 text-base font-medium" aria-current="page">Dashboard</a>
      <a href="#" class="text-sky-800 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Team</a>
      <a href="#" class="text-sky-800 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Projects</a>
      <a href="#" class="text-sky-800 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Calendar</a>
    </div>
  </div>
</nav>
