<nav data-navbar-target="navbar" class="appear-animation fixed w-full backdrop-blur-md border-b-2 border-solid border-white z-10">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="flex flex-1 items-center justify-between">
        <button data-action="click->navbar#changeSection" data-section="agency" class="flex flex-col justify-between gap-2 w-[35px] scale-75">
          <div class="w-full rounded-sm h-[8px] bg-black"></div>
          <div class="w-[90%] rounded-sm h-[8px] bg-black"></div>
          <div class="w-full rounded-sm h-[8px] bg-black"></div>
        </button>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <button data-action="click->navbar#changeSection" data-navbar-target="button" data-section="agency" class="border-2 border-solid border-gray-900 text-gray-900 rounded-md hover:bg-gray-700 hover:border-gray-700 hover:text-white px-3 py-2 text-sm font-medium" aria-current="page">Agence</button>
            <button data-action="click->navbar#changeSection" data-navbar-target="button" data-section="talent" class="border-solid border-gray-900 text-gray-800 rounded-md hover:bg-gray-700 hover:border-gray-700 hover:text-white px-3 py-2 text-sm font-medium">Talents</button>
            <button data-action="click->navbar#changeSection" data-navbar-target="button" data-section="references" class="border-solid border-gray-900 text-gray-800 rounded-md hover:bg-gray-700 hover:border-gray-700 hover:text-white px-3 py-2 text-sm font-medium">Références</button>
          </div>
        </div>
        <button data-action="click->navbar#changeSection" data-section="contact" class="border-2 border-solid border-black bg-black text-white hover:bg-gray-700 hover:border-gray-700 rounded-md px-3 py-2 text-sm font-bold">Contact</button>
      </div>
    </div>
  </div>
</nav>
