<div data-navbar-target="section" data-loading-target="talent" data-section="talent" class="hidden relative isolate bg-gray-900 py-24 sm:py-32 w-full">
  <svg class="-z-10 absolute inset-0 h-full w-full stroke-gray-700 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]" aria-hidden="true">
    <defs>
      <pattern id="54f88622-e7f8-4f1d-aaf9-c2f5e46dd1f2" width="200" height="200" x="100%" y="-1" patternUnits="userSpaceOnUse">
        <path d="M130 200V.5M.5 .5H200" fill="none" />
      </pattern>
    </defs>
    <svg x="100%" y="-1" class="overflow-visible fill-gray-800/20">
      <path d="M-470.5 0h201v201h-201Z" stroke-width="0" />
    </svg>
    <rect width="100%" height="100%" stroke-width="0" fill="url(#54f88622-e7f8-4f1d-aaf9-c2f5e46dd1f2)" />
  </svg>
  <div class="absolute transform-gpu blur-3xl" aria-hidden="true">
    <div class="aspect-[1155/678] w-full bg-gradient-to-br from-[#80caff] to-[#4f46e5] opacity-20" style="clip-path: polygon(74.1% 56.1%, 100% 38.6%, 97.5% 73.3%, 85.5% 100%, 80.7% 98.2%, 72.5% 67.7%, 60.2% 37.8%, 52.4% 32.2%, 47.5% 41.9%, 45.2% 65.8%, 27.5% 23.5%, 0.1% 35.4%, 17.9% 0.1%, 27.6% 23.5%, 76.1% 2.6%, 74.1% 56.1%)"></div>
  </div>
  <div class="mx-auto max-w-7xl px-6 text-center lg:px-8">
    <div class="mx-auto max-w-2xl">
      <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">
        <%= Section.find_by(category: "talent").subtitle.nil? ? Section.find_by(category: "talent").title.capitalize : Section.find_by(category: "talent").subtitle.capitalize %>
      </h2>
      <p class="mt-4 text-lg leading-8 text-gray-400">
        <%= Section.find_by(category: "talent").description %>
      </p>
    </div>
    <%# <ul role="list" class="mx-auto mt-20 grid max-w-2xl grid-cols-1 gap-6 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3 lg:gap-8"> %>
    <ul class="mx-auto mt-20 flex flex-col max-w-2xl gap-6 justify-around sm:flex-row sm:max-w-none items-center">
      <%# <li data-controller="glow" class="relative glow-capture"> %>
      <li data-controller="glow" class="relative glow-capture lg:w-1/3">
        <div data-glow-target="child" class="glow glow:ring-1 glow:border-glow glow:ring-glow glow:bg-glow/[.15] rounded-2xl bg-gray-800 px-8 py-10 border-2 border-solid border-gray-700">
          <%= image_tag("talents/CHP-3.jpg", class: "mx-auto h-48 w-48 rounded-full md:h-56 md:w-56") %>
          <h3 class="mt-6 text-base font-semibold leading-7 tracking-tight text-white">CHP</h3>
          <p class="text-sm leading-6 text-gray-400">Cinéma – Séries</p>
          <button data-action="click->navbar#changeSection" data-section="contact" class="border-2 border-solid border-white rounded-md hover:border-[#D40023] hover:bg-[#D40023] text-sm px-3 py-2 font-bold text-white mt-6">Contactez-nous</button>
          <ul role="list" class="mt-6 flex justify-center gap-x-6">
            <li>
              <a href="https://www.tiktok.com/@cebonvieuxchp" target="_blank" class="text-gray-400 hover:text-[#D40023]">
                <span class="sr-only">TikTok</span>
                <svg class="w- aspect-square" fill="currentColor" viewBox="0 0 448 512">
                  <path d="M448 209.9a210.1 210.1 0 0 1 -122.8-39.3V349.4A162.6 162.6 0 1 1 185 188.3V278.2a74.6 74.6 0 1 0 52.2 71.2V0l88 0a121.2 121.2 0 0 0 1.9 22.2h0A122.2 122.2 0 0 0 381 102.4a121.4 121.4 0 0 0 67 20.1z"/>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div data-glow-target="overlay" class="glow-overlay" style="--glow-color: #D40023"></div>
      </li>
      <li class="hidden sm:block"><div class="h-80 w-1.5 rounded-md bg-gray-700"></div></li>
      <%# <li data-controller="glow" class="relative glow-capture"> %>
      <li data-controller="glow" class="relative glow-capture lg:w-1/3">
        <div data-glow-target="child" class="glow glow:ring-1 glow:border-glow glow:ring-glow glow:bg-glow/[.15] rounded-2xl bg-gray-800 px-8 py-10 border-2 border-solid border-gray-700">
          <%= image_tag("talents/Clémence.jpg", class: "mx-auto h-48 w-48 rounded-full md:h-56 md:w-56") %>
          <h3 class="mt-6 text-base font-semibold leading-7 tracking-tight text-white">Clémence</h3>
          <p class="text-sm leading-6 text-gray-400">Lifestyle</p>
          <button data-action="click->navbar#changeSection" data-section="contact" class="border-2 border-solid border-white rounded-md hover:border-[#BE8BB0] hover:bg-[#BE8BB0] text-sm px-3 py-2 font-bold text-white mt-6">Contactez-nous</button>
          <ul role="list" class="mt-6 flex justify-center gap-x-6">
            <li>
              <a href="https://www.instagram.com/clem__mset/" target="_blank" class="text-gray-400 hover:text-[#BE8BB0]">
                <span class="sr-only">Instagram</span>
                <svg class="w-7 aspect-square" fill="currentColor" viewBox="0 0 448 512">
                  <path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div data-glow-target="overlay" class="glow-overlay" style="--glow-color: #BE8BB0"></div>
      </li>
    </ul>
  </div>
</div>
