<div data-controller="loading" class="leadz-container">
  <div class="leadz-rotation">
    <div class="leadz">
      <div class="leadz-l">
        <div class="leadz-l-vertical">
          <div class="leadz-l-vertical-mask"></div>
        </div>
        <div class="leadz-l-horizontal"></div>
      </div>
      <div class="leadz-e">
        <div class="leadz-e-top"></div>
        <div class="leadz-e-middle"></div>
        <div class="leadz-e-bottom"></div>
      </div>
      <div class="leadz-a">
        <div class="leadz-a-first-block"></div>
        <div class="leadz-a-last-block"></div>
        <div class="leadz-a-left"></div>
        <div class="leadz-a-left-mask"></div>
        <div class="leadz-a-right"></div>
        <div class="leadz-a-right-mask"></div>
        <div class="leadz-a-middle"></div>
        <div class="leadz-a-hole-top"></div>
      </div>
      <div class="leadz-d">
        <div class="leadz-d-bottom-mask"></div>
        <div class="leadz-d-top-mask"></div>
        <div class="leadz-d-right-mask"></div>
        <div class="leadz-d-left-mask"></div>
        <div class="leadz-d-vertical"></div>
        <div class="leadz-d-rounded"></div>
        <div class="leadz-d-hole-top"></div>
        <div class="leadz-d-hole-bottom"></div>
      </div>
      <div class="leadz-z">
        <div class="leadz-z-top"></div>
        <div class="leadz-z-top-mask"></div>
        <div class="leadz-z-middle"></div>
        <div class="leadz-z-middle-mask"></div>
        <div class="leadz-z-bottom"></div>
        <div class="leadz-z-bottom-mask"></div>
      </div>
    </div>
  </div>
</div>
